*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #252525;
    font-family: -webkit-pictograph;
}


/* ASIDE */
aside{
    position: absolute;
    top: 0;
    left: 0;
    width: 250px;
    height: 100vh;
    background-color: #00d7bb;
    padding-top: 25px;
    font-family: arial;
    color: #b7c0cd;
    box-sizing: border-box;
    box-shadow: 0 14px 28px rgba(0,0,0,.25),0 10px 10px rgba(0,0,0,.22)!important;
}
aside .logo{
    text-align: center;
    text-transform: uppercase;
    margin: 10px 0 35px 0;
    font-size: 22px;
    color:#3c3c3c;
    padding-bottom: 30px;
}
aside #add-list{
    text-align: center;
    width:80%;
    background-color: #048a78;
    padding: 10px 40px;
    cursor: pointer;
    color: #fff;
    box-sizing: border-box;
    margin: 0 auto 40px auto;
}
aside #add-list span{
    margin-right: 10px;
}
aside #lists{
    height: 300px;

}
aside #lists .list{
    padding: 12px 0;
    text-align: center;
    cursor: pointer;
    background-color: #048a78;
    color: #fff;
    border-bottom: 1px solid #05695c;
}
aside #lists .list:hover{
    background-color: #05695c;
    color:#fff;
}

/* MAIN CONTENT */
.main-content {
    margin-left: 250px  ;   
    padding: 20px;
}
.main-content .header{
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 20px 40px;
    border-bottom: 1px solid #444;
    margin-bottom: 40px;
    display:none;
}
.main-content .header h1{
    color: #fff;
    margin-bottom: 15px;
}
.main-content .header h1 i{
    margin-left: 15px;
    font-size:17px;
    cursor:pointer;
}
.main-content .add-item span{
    background-color: #048a78;
    height: 40px;
    display: inline-block;
    box-sizing: border-box;
    padding: 7px 8px 0 8px;
    color: #fff;
}
.main-content .add-item input[type=text]{
    height: 40px;
    box-sizing: border-box;
    border: 1px solid #444;
    border-left: none;
    outline: none;
    padding: 10px;
    font-size: 14px;
    margin-left: -5px;
    vertical-align: middle;
    color: #444;
    border: none;
}
.main-content .add-item input[type=submit]{
    height: 40px;
    box-sizing: border-box;
    border: none;
    margin: -1px 0 0 -4px;
    padding: 0 15px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #048a78;
    color: #fff;
    cursor: pointer;
}
.main-content .add-item button:hover {
    background-color:#05695c;
}
.main-content .itens{
    list-style: none;
    width: 90%;
    margin: 0 auto;
}
.main-content .itens li{
    margin-bottom: 15px;
}
.main-content .itens li i{
    color: #fff;
    margin-right: 15px;
    cursor: pointer;
}
.main-content .itens li input[type=checkbox]{
    width: 30px;
    height: 30px;
    vertical-align: middle;
    margin-right: 10px;
}
.main-content .itens li span{
    vertical-align: middle;
    font-size: 16px;
    color: #fff;
}
/* MODAL */
.modal-bg{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color: rgba(0,0,0,0.4);
    display: none;
}
#modal{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 450px;
    height: 300px;
    margin: -150px -225px;
    display: none;
    box-sizing: border-box;
    padding: 40px 30px;
    background-color: #00d7bb
}
#modal h2{
    margin-bottom: 30px;
    color:#3c3c3c;
}
#modal label{
    display: block;
    margin-bottom: 10px;
    font-size: 17px;
    color:#3c3c3c;
}
#modal input[type=text]{
    width: 300px;
    padding: 12px;
    margin-bottom: 50px;
    outline: none;
    border: none;
    background-color: rgba(255,255,255,0.6);
    color:#3c3c3c;
    font-size: 16px;
}
#modal input[type=submit]{
    display: inline-block;
    border: 1px solid transparent;
    padding: 6px 15px;
    font-size: 1rem;
    line-height: 1.5;
    margin-left: 275px;
    color: #fff;
    background-color: #048a78;
    border-color: #048a78;
    cursor: pointer;
    outline: none;
}