*,h1,h2,h3,h4,h5,h6,span,p,strong{
    font-family: 'Raleway',sans-serif;
}

.container{
    width:90%;
    margin:0 auto;
}

#todo{
    background-color: #eee;
    width:100%;
    min-height: 100vh;
}
#todo header{
    padding: 20px 0;
    box-shadow: 0px 1px 5px 0px #ccc;
    margin-bottom:40px;
}
#todo header .container{
    display:flex;
    align-items: center;
    justify-content:space-between;
}
#todo header h1{
    font-size:25px;
    font-weight: 400;
    color:#393e46;
}

#todo header div{
    display: flex;
    align-items: center;
}
#todo header input[type=text]{
    padding: 7px 10px;
    outline: none;
    margin-right: 10px;
}
#todo header button{
    border:2px solid #393e46;
    background-color:transparent;
    padding:5px 15px;
    display:flex;
    align-items: center;
    color:#393e46;
    font-size:14px;
    outline:none;
}
#todo header button:hover{
    background-color:#393e46;
    color:#fff;
    cursor:pointer;
}
#todo header svg{
    font-size:20px;
    margin-right: 10px;
}


#todo section{
    display: flex;
    justify-content: space-between;
}
#todo section aside{
    width:30%;
    overflow-y: auto;
}
#todo section aside ul{
    width:100%;
    box-sizing: border-box;
    padding:25px;
}
#todo section aside ul li{
    width: 100%;
    padding:15px 10px;
    box-sizing: border-box;
    cursor:pointer;
}
#todo section aside ul li:last-of-type{
    border-bottom: none;
}
#todo section aside ul li:hover{
    box-shadow: 1px 1px 3px 1px #ccc;
}
#todo section article{
    width: 68%;
    box-sizing: border-box;
    padding:25px;
}
#todo section article .header svg{
    display: none;
    font-size: 14px;
    vertical-align: top;
    cursor: pointer;
    color: #444;
}
#todo section article .add-item{
    display: none;
    align-items: center;
    margin-bottom: 30px;
}
#todo section article input[type=text]{
    padding: 7px 10px;
    outline: none;
    margin-right: 10px;
}
#todo section article button{
    border:2px solid #393e46;
    background-color:transparent;
    padding:5px 15px;
    display:flex;
    align-items: center;
    color:#393e46;
    font-size:14px;
    outline:none;
}
#todo section article button:hover{
    background-color:#393e46;
    color:#fff;
    cursor:pointer;
}
#todo section article button svg{
    font-size:20px;
    margin-right: 10px;
}
#todo section article h2{
    font-size: 24px;
    margin-bottom: 15px;
    display: inline-block;
    margin-right: 10px;
}
#todo section article ul li{
    display:flex;
    align-items: center;
    padding:5px 10px;
}
#todo section article ul li:hover{
    box-shadow: 1px 1px 3px 1px #ccc;
}
#todo section article ul li svg{
    color:#444;
    margin-right: 5px;
    cursor: pointer;
}
#todo section article ul li input[type=checkbox]{
    width:20px;
    height:20px;
    margin-right: 10px;
}
#todo section article ul li label{
    font-size:16px;
}